{% extends 'baseLoginInscriFront.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}    
<h1> Inscrivez-vous </h1>

				{{ include('user/_form.html.twig') }}
                <center>
                    <a href="{{ path('app_login') }}" style="color: black;">
                        Retour 
                    </a>
                </center>
{% endblock %}
