{% extends 'baseLoginInscri.html.twig' %}

{% block title %}Login{% endblock %}


{% block content %}
            <form class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>		
                <br><br><br><br><br><br>
                <center>
                    <a href="{{ path('app_inscription') }}" style="color: aliceblue;">
                        Vous n'avez pas un compte ?
                    </a>
                </center>
            </form>
{% endblock %}
