
{% block title %}Ajouter un Stock{% endblock %}

{% block body %}
    <h1>Ajouter un Stock</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
